<div class="container">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Lista de Eventos  </span>
                </li>
            </ul>
            <button class="btn btn-secondary btn-md" role="button" (click)="navigateToEventCreate()">
                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                <span>Novo Evento</span>
            </button>
        </div>
    </nav>
</div>

    <app-evento-read></app-evento-read>