<div class="main-content container">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div *ngIf="cartItems.length > 0">

           

            <table class="table table-bordered">
                <tr>
                    <th width="20%">Id</th>
                    <th width="40%">Detalhes do Evento</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <p>{{tempCartItem.id}}</p>
                    </td>
                    <td>
                        <p>{{tempCartItem.nome}}</p>
                        <p>{{tempCartItem.preco | currency: 'BRL'}}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Quantidade:</label>
                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="incrementQuantity(tempCartItem)" class="btn btn-secondary btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>

                                <div class="col ml-4 mr-2">
                                    {{tempCartItem.quantidade}}
                                </div>

                                <div class="col">
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-secondary btn-sm">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>

                                <div class="col-8"></div>

                            </div>

                        </div>
                        <p class="mt-2">Subtotal: {{tempCartItem.quantidade*tempCartItem.preco | currency: 'BRL'}}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Quantidade Total: {{totalQuantity}}</p>
                        <p>Frete: Não há</p>
                        <p>Preço total: {{totalPrice | currency: 'BRL'}}</p>
                    </td>
                </tr>

            </table>
         </div>

         <div *ngIf="cartItems.length == 0" class="alert alert-warning col-md-12" role="alert">
             Seu Carrinho está Vazio!
         </div>

        </div>
    </div>
</div>